*{
    margin: 0;
    padding: 0;
}

.rating-donhang li {
    font-size: 55px;
}

.rating-donhang {display: flex;align-items: center;justify-content: center;}

.row.click-rating {
    display: flex;
    align-items: center;
}

.danhgia-san-pham-don-hang {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
}

.rating li {
    margin-right: 8px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating li {
    font-size: 30px;
}

.lien-he-shop {
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

.lien-he-shop a {margin: 0 10px;}

.so {
    font-size: 38px;
    color: #ffc107;
}

.tong-tien-hoa-don {display: flex;justify-content: end;padding: 20px;}

.show-tong-so-tien-hoa-don {
    width: 50%;
    text-align: end;
}

.phan-loai-don-hang {
    margin-bottom: 15px;
    background: white;
}

.ten-san-pham-don-hang span {
    font-size: 25px;
}

a.san-pham-don-hang {
    text-decoration: none;
    color: black;
}

.hien-thi-don-hang {
}

.search-don-hang .form-tim-kiem {
    width: 100%;
}

.img-san-pham-don-hang img {
    width: 100%;
}

.thong-tin-san-pham-don-hang {
    width: 80%;
}

.img-san-pham-don-hang {
    width: 135px;
    padding: 20px;
}

.row.show-san-pham-don-hang {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.search-don-hang {display: flex;justify-content: center;margin: 20px 0;}

.title {
    width: 100%;
}

.ho-so-khach-hang {
    width: 30%;
}

a.ten {color: black;text-decoration: none;width: 30%;}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 45px;
}

.title a {
    text-align: center;
}

.title a:hover {
    color: #ffc107;
}

.title a:active {
    color: #ffc107;
}

.clearfix.donhang {
    margin-top: 150px;
}

.phan-trang {margin-top: 17px;}

.luu {
    margin: 8px 0 0 0;
}

.taikhoan-ketnoi img {
    border-radius: 50%;
    margin-right: 0px;
}

.cart {
    margin-left: 36px;
}

.form-tim-kiem {
    width: 60%;
}

.doi-mat-khau {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mat-khau-new {
    width: 60%;
}

 .sÄ‘t-khachhang {
    padding: 0 10px 5px 0;
} 

.diachi-khachhang {
    padding: 0 10px 5px 0;
}

.email-khachhang {
    padding: 0 10px 5px 0;
}

.gioitinh-khachhang {
    padding: 0 10px
 5px
 0;
}

.name-khachhang {
    padding: 0 10px 5px 0;
}

.img-avata img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.img-avata {
    width: 18%;
    display: flex;
    justify-content: center;
}

.sublit-luu {
    text-align: center;
    padding: 0 25px 0 0;
    margin: 5px 0;
    width: 93%;
}

.hoso {
    margin: 0 0 15px 0;
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: 25px;
}

.thongtin-khachhang {
    display: flex;
    align-items: center;
}

.show-imgavata {width: 50%;display: flex;align-items: center;justify-content: center;flex-direction: column;}

.show-thongtin {
    width: 50%;
    border-right: 1px solid;
}

.clearfix.khachhang {
    margin-top: 150px;
}

.timkiem-lienquan a {
    color: black;
}

.show-sanpham-1 a {
}

.timkiem-lienquan {}

.show-sanpham-1:hover .timkiem-lienquan {opacity: 1;box-sizing: content-box;}

.timkiem-lienquan {
    opacity: 0;
    background-color: yellow;
    font-size: 13px;
    position: relative;
    top: 21px;
    padding: 0;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid #ffc107;
    border-left: 1px solid #ffc107;
    border-right: 1px solid #ffc107;
}

.taikhoan-ketnoi a:hover {
    color: #ffc107;
}

h2.text-uppercase {
    margin-top: 0.5rem;
}

h4 {
    margin-top: 0.5rem;
}

.img-static {
    max-width: 30%;
}

.danhmuc-text {
    background-color: white;
}

li.nav-item.dropdown {
    display: flex;
    align-items: center;
}

.taikhoan-ketnoi a {
    color: black;
    padding: 0 7px 0 5px;
}

.footer2 p {
    color: white;
}

.img-danhmuc-muenu {}

img.logo-menu {}

.img-danhmuc-muenu {padding: 5px;width: 70%;height: 60%;/* display: flex; *//* justify-content: center; *//* align-items: center; */}

.name-danhmuc-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-danhmuc-menu a {
    text-decoration: none;
    color: black;
}

.show-thanhphan {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
}

.show-thanhphan:hover {
    z-index: 1;
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 31%);
}

.row.danhmuc-menu {
    display: flex;
}

.show-danhmuc-menu {
    width: 14%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top: 1px solid rgba(0,0,0,.05);
}

.name-show-sanpham {
    min-height: 49px;
}

.show-tung-sanpham a {
    text-decoration: none;
}

.show-tung-sanpham {
    width: 10%;
    padding: 5px 5px;
    box-sizing: border-box;
}

.row.show-sanpham {
    display: flex;
}

.img-show-sanpham img {
    width: 100%;
    height: 100%;
}

.img-show-sanpham {
    height: 100px;
    width: 100%;
}

.show-sanpham-1 {/* padding: 5px; */box-sizing: border-box;background-color: white;text-align: center;display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100%;width: 100%;}

.show-sanpham-1:hover {
    border: 1px solid #ffc107;
    z-index: 2;
    box-sizing: border-box;
}


span.number-cart {
    position: relative;
    top: -9px;
    left: -5px;
}

.taikhoan-ketnoi {display: flex;align-items: center;}

.col-xs-12.col-sm-10.col-md-8.col-lg-4.contact {
    justify-content: revert;
}


.clearfix.giohang {
    margin-top: 160px;
}

.vtphantrang .pagination li.page-item {
    border: 0;
}


.row.goi-y {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

body {
    background-color: #f5f5f5;
    min-width: 485px;
    min-height: 100vh;
}

ul.pagination {
    float: right;
    text-align: center;
    align-items: center;
}

.vtphantrang .pagination li.page-item {
    height: 35px;
    width: 79px;
    padding: 0;
    margin: 0;
    width: 3;
}

.danhmuc-menu .logo-menu {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.clearfix.header-title {
    margin-top: 150px;
    display: flex;
    align-items: center;
}

.header .header-static .header-trangchu {
    background: white;
}

.header .header-static {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
}

.clearfix.menu {
    margin-top: 25px;
}
.row.header-menu {
    margin-top: -12px;
}

.show-sanpham-1 p {
    color: white;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #ffc107;
}



.row.footer1 {
    background: #000000cc;
}

.footer .footer2 li a {
    text-decoration: none;
    color: white;
    padding: 0 8px;
}

.footer .footer2 ul {
    float: left;
    display: inline-flex;
    margin-left: 0;
    display: initial;
}

.footer .footer2  li {
    list-style: none;
    float: left;
}

.footer2 .footer2-2 {display: inherit;display: flex;align-items: center;}

.row.footer2 {background: black;display: flex;align-items: center;}

.footer1 li a:hover {
    color: #c89600;
}

.footer1 h6 {
    margin-left: 26px;
    color: white;
    margin-top: 15px;
}

.footer1 li a {
    text-decoration: none;
    color: white;
}

.row.footer1 li {
    list-style: none;
}

.clearfix.footer {
    padding: 20px;
}

.imgqc .img-gif {
    margin-right: -12px;
    margin-left: 3px;
    max-width: 70%;
}

.row.img-static2 {
    padding: 10px 0 0 0;
}

.row.imgqc {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
}

.header-menu .navbar-light .navbar-nav .nav-link:hover {
    color: #FF8000;
}

header-trangchu {}

.header-trangchu .navbar-light .navbar-nav .nav-link:hover {
    color: #FF8000;
}

.header-trangchu .col-xs-12.col-sm-10.col-md-8.col-lg-4 {
    float: right;margin-right: 20px;
}

.header-trangchu p.me-2 {
    padding: 17px 0px 0px 0px;
    color: black;
}
